@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    
    #projects {
        @apply h-screen max-h-fit z-20 bg-neutral-900 px-32 select-none flex justify-center flex-col items-center
    }

    /* Grid Card Positions */

    #projects .title h1{
        @apply w-full pt-20
        
        text-center text-6xl tracking-widest font-bold font-mono drop-shadow-[0px_0px_1px_rgba(255,255,255,1)] underline
    }

    #projects .pGrid {
        @apply h-full w-full p-16 grid grid-cols-2 place-items-center
    }

    #projects .pGrid .gridCard {
        @apply h-5/6 w-5/6 p-8 transition-all duration-300 ease-in-out flex flex-col flex-shrink-0
        
        bg-neutral-800 rounded-lg drop-shadow-[3px_3px_15px_rgba(0,0,0,.85)]
    }

    /* Card Content */

        /* Title */
    #projects .gridCard .title h2 {
        @apply text-center text-3xl pt-2 pb-4 tracking-wider font-semibold drop-shadow-[0px_0px_0.5px_rgba(255,255,255,.8)]
    }

    #projects .gridCard .title .seperator {
        @apply h-[.15rem] w-1/4 m-auto bg-gradient-to-r from-[#82b4ed] to-[#1e79e1]
    }
        /* Thumbnail */
    #projects .gridCard .thumbnail {
        @apply w-full h-fit py-8 flex justify-center items-center
    }

    #projects .gridCard .thumbnail .wrapper {
        @apply w-52 h-52 bg-[#82b4ed] rounded-full opacity-75 flex justify-center items-center
    }

    #projects .gridCard .thumbnail .wrapper .icon {
        @apply w-2/3 h-2/3 opacity-100
    }

        /* Stack */
    
    #projects .gridCard .stack {
        @apply h-full flex justify-center items-center p-2
    }

    #projects .gridCard .stack p {
        @apply text-center text-lg tracking-wide py-2
    }

        /* Links */
    #projects .gridCard .links {
        @apply w-full h-full flex justify-center items-center
    }

    #projects .gridCard .links .wrapper {
        @apply w-4/5 transition-all ease-in-out

        bg-gradient-to-r from-[#82b4ed] to-[#1e79e1] rounded-xl
    }

    #projects .gridCard .links .wrapper button {
        @apply w-full h-full flex justify-center items-center
    }

    #projects .gridCard .links .wrapper button p {
        @apply p-2 font-bold tracking-wider
    }

    #projects .gridCard .links .wrapper:hover{
        @apply scale-105 duration-500
    }

    @media screen and (max-width:1800px) {
        #projects .pGrid .gridCard .thumbnail .wrapper {
            @apply w-32 h-32
        }
    }

    @media screen and (max-width:1500px) {

        #projects .pGrid {
            @apply gap-10
        }

        #projects .pGrid .gridCard {
            @apply w-full
        }

  
    }

    @media screen and (max-width:1200px) {

        #projects .pGrid .gridCard .stack p {
            @apply text-base
        }

  
    }

    @media screen and (max-width:940px) {

        #projects{
            @apply px-4
        }

        #projects .pGrid{
            @apply w-full h-full
        }
    }

    @media screen and (max-width:750px) {

        #projects{
            @apply h-fit
        }

        #projects .pGrid{
            @apply grid-cols-1
        }

        #projects .pGrid .gridCard{
            @apply h-fit
        }


    }

    @media screen and (max-width:550px) {

        #projects .title h1 {
            @apply text-5xl
        }

        #projects .pGrid{
            @apply px-0
        }

    


    }



    @layer utilities {
        @variants responsive {
            .text-shadow {
              text-shadow: 1px 1px 2px black;
            }
            .text-shadow-md {
              text-shadow: 4px 4px 10px black;
            }
            .text-shadow-lg {
              text-shadow: 8px 8px 15px black;
            }
            .text-shadow-none {
              text-shadow: none;
            }
        } 
    }  

    
}