@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    
    #projects {
        @apply h-screen z-20 bg-neutral-900 px-32 select-none flex justify-center flex-col
    }

    /* Grid Card Positions */

    #projects .title h1{
        @apply w-full pt-20
        
        text-center text-6xl tracking-widest font-bold font-mono drop-shadow-[0px_0px_1px_rgba(255,255,255,1)] underline
    }

    #projects .pGrid {
        @apply h-2/3 w-3/5 m-auto px-16 pb-16 grid grid-cols-2 gap-10 place-items-center
    }

    #projects .pGrid .gridCard {
        @apply h-full w-full p-8 transition-all duration-300 ease-in-out flex flex-col
        
        bg-neutral-800 rounded-lg drop-shadow-[3px_3px_15px_rgba(0,0,0,.85)]
    }

    #projects .pGrid .gridCard:hover {
        @apply scale-105 delay-100
    }

    /* Card Content */
        /* Title */
    #projects .gridCard .title h2 {
        @apply text-center text-3xl pt-2 pb-4 tracking-wider font-semibold drop-shadow-[0px_0px_0.5px_rgba(255,255,255,.8)]
    }

    #projects .gridCard .title .seperator {
        @apply h-[.15rem] w-1/4 m-auto bg-gradient-to-r from-[#82b4ed] to-[#1e79e1]
    }
        /* Thumbnail */
    #projects .gridCard .thumbnail {
        @apply w-full h-fit py-8 flex justify-center items-center
    }

    #projects .gridCard .thumbnail .wrapper {
        @apply w-52 h-52 bg-[#82b4ed] rounded-full opacity-75 flex justify-center items-center
    }

    #projects .gridCard .thumbnail .wrapper .icon {
        @apply w-2/3 h-2/3 opacity-100
    }

        /* Stack */
    #projects .gridCard .stack p {
        @apply text-center text-lg tracking-wide py-2
    }

        /* Links */
    #projects .gridCard .links {
        @apply w-full h-full flex justify-center items-center
    }

    #projects .gridCard .links .wrapper {
        @apply w-4/5 h-1/2

        bg-gradient-to-r from-[#82b4ed] to-[#1e79e1] rounded-xl
    }

    #projects .gridCard .links .wrapper button {
        @apply w-full h-full flex justify-center items-center
    }

    #projects .gridCard .links .wrapper button p {
        @apply px-2 font-bold tracking-wider
    }




    @layer utilities {
        @variants responsive {
            .text-shadow {
              text-shadow: 1px 1px 2px black;
            }
            .text-shadow-md {
              text-shadow: 4px 4px 10px black;
            }
            .text-shadow-lg {
              text-shadow: 8px 8px 15px black;
            }
            .text-shadow-none {
              text-shadow: none;
            }
        } 
    }  

    
}