@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    
    #skills {
        @apply select-none flex h-screen z-10 px-28 bg-zinc-900 shadow-[inset_0px_0px_15px_5px_rgba(0,0,0,0.8)]
    }

    #skills .skillBrief {
        @apply flex h-full w-1/2 justify-center items-center flex-col
    }

    #skills .card {
        @apply flex flex-col items-center rounded-xl my-10
        
        bg-zinc-800 w-4/5 h-fit shadow-[0px_0px_30px_5px_rgba(0,0,0,0.8)] px-4 pb-12 pt-8
    }

    #skills .card .title {
        @apply h-1/6 flex items-center justify-center pb-4
    }

    #skills .card .title h1 {
        @apply flex justify-center text-center items-center

        text-4xl text-zinc-100 tracking-wide font-mono drop-shadow-[0px_0px_1px_rgba(255,255,255,1)]
    }

    #skills .card .content {
        @apply h-fit px-5  flex items-center m-0
    }

    #skills .card .content p {

        @apply text-center text-2xl text-zinc-200 text-shadow leading-8
    }

    #skills .card .content b {

        @apply text-[#1e79e1] text-shadow-md text-3xl
    } 


    /* SkillsGrid Section */
    
    #skills .skillSec {
        @apply flex h-full w-1/2 justify-center items-center 
    }

    #skills .skillGrid {
        @apply grid grid-cols-4 gap-5
    }  

    #skills .iconWrapper {
        @apply flex flex-col items-center transition-all duration-300 ease-in-out
        m-2 bg-zinc-800 rounded-xl p-4 shadow-[0px_0px_10px_1px_rgba(0,0,0,0.5)]
    }

    #skills .iconWrapper p {
        @apply text-center text-zinc-200 text-2xl mt-2 tracking-[.2rem]
    }

    #skills .iconWrapper:hover{
        @apply scale-110 cursor-pointer
    }
    
    #skills .icon {
        @apply w-24 h-24 scale-100
    }

    @layer utilities {
        @variants responsive {
            .text-shadow {
              text-shadow: 2px 2px 5px black;
            }
            .text-shadow-md {
              text-shadow: 4px 4px 15px black;
            }
            .text-shadow-lg {
              text-shadow: 8px 8px 15px black;
            }
            .text-shadow-none {
              text-shadow: none;
            }
        } 
    }    
  


}
