@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    
    #skills {
        @apply select-none flex h-screen z-10 px-28 bg-zinc-900 shadow-[inset_0px_0px_15px_5px_rgba(0,0,0,0.8)]
    }

    #skills .skillBrief {
        @apply flex h-full w-1/2 justify-center items-center flex-col
    }

    #skills .card {
        @apply flex flex-col items-center rounded-xl my-5
        
        bg-zinc-800 w-4/5 h-fit shadow-[0px_0px_30px_5px_rgba(0,0,0,0.8)] px-4 pb-12 pt-8
    }

    #skills .card .title {
        @apply h-1/6 flex items-center justify-center pb-4
    }

    #skills .card .title h1 {
        @apply flex justify-center text-center items-center

        text-4xl text-zinc-100 tracking-wide font-mono drop-shadow-[0px_0px_1px_rgba(255,255,255,1)]
    }

    #skills .card .content {
        @apply h-fit px-5  flex items-center m-0
    }

    #skills .card .content p {

        @apply text-center text-xl text-zinc-200 text-shadow leading-8
    }

    #skills .card .content b {

        @apply text-[#1e79e1] text-shadow-md text-2xl
    } 

    /* Game info */

    #skills .card.game {
        @apply py-4 w-fit
    }

    #skills .card.game p {
        @apply text-lg
    }

    #skills .card.game b {
        @apply text-xl
    }



    /* SkillsGrid Section */
    
    #skills .skillSec {
        @apply flex h-full w-1/2 justify-center items-center 
    }

    #skills .skillGrid {
        @apply grid grid-cols-4 gap-5
    }  

        /* Cards (Front) */

    #skills .iconWrapper {
        @apply flex flex-col items-center transition-all duration-300 ease-in-out
        m-2 bg-zinc-800 rounded-xl p-4 shadow-[0px_0px_10px_1px_rgba(0,0,0,0.5)]
    }
        /* Match Found */
    #skills .iconWrapper.found {
        @apply bg-green-900
    }

    #skills .iconWrapper p {
        @apply text-center text-zinc-200 text-xl mt-2 tracking-[.2rem]
    }

    #skills .iconWrapper:hover{
        @apply scale-110 cursor-pointer
    }
    
    #skills .icon {
        @apply w-24 h-24 scale-100 m-auto
    }

        /* Cards (Back) */

    #skills .back {
        @apply absolute flex w-full h-full justify-center items-center -mt-4
    }

    #skills .back .color {
        @apply w-1/2 h-1/2 rounded-full
    }

    /* Colors */

    #skills .back .color#red {
        @apply bg-red-600
    }

    #skills .back .color#orange {
        @apply bg-orange-600
    }

    #skills .back .color#yellow {
        @apply bg-yellow-600
    }

    #skills .back .color#green {
        @apply bg-green-600
    }

    #skills .back .color#blue {
        @apply bg-blue-600
    }

    #skills .back .color#purple {
        @apply bg-purple-600
    }

    @media screen and (max-width:1500px) {
        #skills .icon {
            @apply w-16 h-16
        }

        #skills .iconWrapper p {
            @apply text-base
        }
        
        #skills .card .content p{
            @apply text-lg
        }

        #skills .card .content b{
            @apply text-xl
        }

        #skills .card.game p {
            @apply text-lg
        }
    
        #skills .card.game b {
            @apply text-xl
        }
    }

    @media screen and (max-width:1300px) {

        #skills {
            @apply flex-col justify-center items-center h-fit py-16
        }

        #skills .iconWrapper p {
            @apply text-sm
        }

        #skills .skillBrief {
            @apply w-full
        }

        #skills .card {
            @apply p-5
        }

        #skills .card .content {
            @apply p-0
        }

        #skills .skillSec {
            @apply w-full
        }
    }

    @media screen and (max-width:940px) {
        #skills{
            @apply px-4
        }
        #skills .card {
            @apply w-full
        }
    }

    @media screen and (max-width:600px) {
        #skills .skillGrid {
            @apply grid-cols-3 gap-0
        }
    }

    @layer utilities {
        @variants responsive {
            .text-shadow {
              text-shadow: 2px 2px 5px black;
            }
            .text-shadow-md {
              text-shadow: 4px 4px 15px black;
            }
            .text-shadow-lg {
              text-shadow: 8px 8px 15px black;
            }
            .text-shadow-none {
              text-shadow: none;
            }
        } 
    }    

}

/* Matching Game */

#skills .iconWrapper {
    transform-style: preserve-3d;
}

#skills .iconWrapper.open{
    transform: rotateY(180deg);
}

#skills .iconWrapper.reset{
    transition-duration: 1500ms;
}

#skills .iconWrapper.gameover{
    transform: rotateY(720deg);
    transition-duration: 1500ms;
}

#skills .front {
    backface-visibility: hidden;
}

#skills .back {
    backface-visibility: hidden;
    transform: rotateY(180deg);
}